*{
    color: white;
    font-size: 16px;
    font-family:Roboto
}

.nav{
    display: flex;
    justify-content:right;
    block-size: auto;
    max-width: 100%;
    min-height: fit-content;
    background-color: gray;
    align-items: center;
}

.nav-title{
    margin-right: auto;
    margin-left: 10px;
    font-size: 30px;
}
.nav-links{
    display: flex;
    align-items: center;
}

.active{
    font-weight: bold;
}

.btn{
    margin-right: 5px;
    width: 100px;
    padding: 3px;
    background-color:cyan;
    border: 2px;
    border-color: black;
    border-style: solid;
    box-shadow: 3px 3px black;
}

ul{
    list-style-type: none;
    : 15px;
}

li{
    margin: 10px;
}

.no-format{
    text-decoration: none;
}